/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    background-color: #f0ffee;
    color: #ffffff;
    min-height: 100vh;
}

/* header */
.header {
    background: #527242;
    position: relative;
    width:100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
}
.header a {
    text-decoration: none;
    color: #ffffff;
}
.header ul {
    list-style: none;
}
.logo {
    font-size: 2rem;
}
.menu-items {
    display: flex;
    align-items: center;
}
.menu-items li {
    padding: 0.5rem 1rem;
    transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
    background-color: #2a3827;
}

/* section */
section{
    overflow: hidden;
    display: flex;
}

section #menu{
    overflow: hidden;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section #menu #open {
    /*显示菜单样式*/
    min-width: 250px;
    width: 250px;
    height: 100%;
    background-color: #363a45;
    padding-bottom: 10px;
    box-sizing: border-box;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
}

section #menu #open .navBox {
    height: 100%;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 7px;
    padding-top: 5px;
}
section #menu #open .navBox ul li {
    background-color: #393c4a;
    cursor: pointer;
    margin-bottom: 4px;
}
section #menu #open .navBox ul li .obtain {
    background-color: #3889D4;
}
section #menu #open .navBox ul li .obtain:hover {
    background-color: #3D8332;
}
section #menu #open .navBox ul li h2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 16px 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}

#menu #open .navBox ul li h2 i {
    position: absolute;
    top: 50%;
    right: 3px;
    border-top: 7px transparent dashed;
    border-left: 7px solid #fff;
    border-right: 7px transparent dashed;
    border-bottom: 7px transparent dashed;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    -o-transition: -o-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    transform-origin: 4px 3px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

section #menu #open .navBox ul li h2 .arrowRot {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
section #menu #open .navBox ul li .secondary {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
}
section #menu #open .navBox ul li .secondary h3 {
    /*padding: 10px 0;*/
    text-align: center;
    font-size: 12px;
    background-color: #282c3a;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    border-bottom: 0.8px solid #42495d;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
section #menu #open .navBox ul li .secondary h3:hover {
    background-color: #1acbfc;
}
section #menu #open .navBox ul li .secondary .seconFocus {
    background-color: #1acbfc;
    -webkit-box-shadow: 3px 3px 3px #aa8c51;
    -moz-box-shadow: 3px 3px 3px #aa8c51;
    box-shadow: 3px 3px 3px #aa8c51;
}

.produits{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/*template*/
.product{
    height: 300px;
    width: 800px;
    border: 1px solid #008c8c;
    border-radius: 10px;
    margin: 30px 0;
}

.produitItem{
    height: 250px;
    width: 800px;
    display: flex;
    color: #606266;
    font-size: 14px;
}

.produitItem .photo{
    flex: 0 0 33%;
}

.produitItem .photo img{
    width: 200px;
    height: 200px;
    margin: 25px 25px;
}

.produitItem .InfoPrincipal{
    flex: 0 0 33%;
    margin: 25px 0;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dashed #008c8c;
}

.produitItem .InfoPrincipal span{
    color: rgb(234, 153, 153);
}

.produitItem .InfoPrincipal .name span{
    font-size: 30px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.produitItem .InfoPrincipal .price span{
    font-size: 30px;
}

.produitItem .InfoComparation{
    flex: 0 0 34%;
    margin: 25px 0;
    padding-right: 25px;
}

.produitItem .InfoComparation i.icon-bianzu{
    font-size: 30px;
    color: #1acbfc;
}

.produitItem .InfoComparation span{
    color: rgb(234, 153, 153);
}

.produitItem .InfoComparation span.index{
    font-size: 8px;
}

.produitItem .InfoComparation i.icon-eryanghuatan{
    color: #aa8c51;
    font-size: 38px;
}

.produitItem .InfoComparation span.contributionValue{
    font-size: 30px;
}

.product .button{
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius:5px;
    width: 160px;
    margin: auto;
    background-color: #527242;
    color: #fff;
}

#app{
    position: relative;
}

.bottomBar{
    height: 50px;
    width: 100%;
    background-color: #82bb68;
    position: fixed;
    bottom: 0;
}

button.validate{
    width: 300px;
    margin:10px auto;
    background-color: #82bb68;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    display:block;
}


/* Vue animation */
.v-enter,
.v-leave-to {
    opacity: 0;
    transform: translateX(100px);
}

.v-enter-active,
.v-leave-active {
    transition: all 0.4s ease;
}

/* modal */
.sy-alert-model.reglage{
    width: 600px;
    /*height: 1000px;*/
    background-color: #e2fade;
}

.sy-alert-model.cart{
    width: 400px;
    /*height: 600px;*/
    background-color: #e2fade;
}



.sy-title{
    text-align: center;
}

.sy-content.main{
    display: flex;
    height: 250px;
}

.sy-content.main .photoDetail{
    flex: 0 0 50%;
}

.sy-content.main .pricecalculate{
    flex: 0 0 50%;
}

.sy-content.main .pricecalculate .counter{
    height: 30px;
    width: 100px;
    border: 1px solid #008c8c;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
}

.sy-content.main .pricecalculate .counter span{
    flex: 0 0 33%;
    text-align: center;
    line-height: 30px;
}

.sy-content.main .pricecalculate .counter .minus{
    border-right: 1px solid #008c8c;
    cursor: pointer;
}

.sy-content.main .pricecalculate .counter .add{
    border-left: 1px solid #008c8c;
    cursor: pointer;
}

.sy-content.main .pricecalculate .priceTotal{
    margin-top: 40px;
    text-align: center;
}

.sy-content.main .pricecalculate .priceTotal span{
    font-size: 30px;
}

.sy-content.main .pricecalculate span.notif{
    font-size: 12px;
}

.sy-content.main img{
    width: 160px;
    height: 160px;
}

.sy-content.deliveryTime{
    text-align: center;
}

.sy-content.benevole{
    height: 200px;
}


.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-selected{
    background-color: #cccccc;
}

.sy-content span.longDescription{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #2a3827;
}

.sy-content span{
    color: rgb(234, 153, 153);
}

.sy-btn .button{
    text-align: center;
    height: 45px;
    line-height: 45px;
    cursor:pointer;
    color: #333;
    padding: 0 12px;
    font-size: 15px;
}
