
/*For template*/
.clientDemandsClass{
    color: #606266;
    min-height: 270px;
    width:400px;
    border:1px solid #008c8c;
    position:relative;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    flex: 0 0 30%;
    border-radius: 10px;
    padding-bottom: 15px;
}

.clientDemandsClass h2{
    font-size:26px;
    text-align: center;
    line-height: 26px;
    margin: 20px 0;
}

.clientDemandsClass .DemandContainer{
    display: flex;
    justify-content: space-between;
}

.clientDemandsClass .DemandContainer .infoLeft{
    padding: 20px 10px 20px 20px;
    font-size: 14px;
    width: 300px;
    height: 150px;
}

.clientDemandsClass .DemandContainer .infoArticle{
    padding: 5px 10px 10px 20px;
    font-size: 14px;
    width: 200px;
}

.clientDemandsClass .DemandContainer .infoLeftClient{
    padding: 10px 10px 20px 20px;
    font-size: 14px;
    width: 240px;
    height: 150px;
}

.clientDemandsClass .DemandContainer span,
.clientDemandsClass .DemandContainer .infoLeft span{
    color: rgb(234, 153, 153);
}

.clientDemandsClass .DemandContainer .infoLeft .twoLineEllipsis{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.clientDemandsClass .DemandContainer .photo img{
    height: 120px;
    width: 120px;
    margin-top: 10px;
    margin-right: 20px;
}

.clientDemandsClass .DemandContainer .etat{
    position: absolute;
    right: -30px;
    top: -3px;
    transform: rotate(30deg);
    /*width: 80px;*/
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.clientDemandsClass .DemandContainer .etat.encours{
    background-color: #aa8c51;
}

.clientDemandsClass .DemandContainer .etat.valide{
    background-color: #527242;

}

.clientDemandsClass .DemandContainer .type{
    position: absolute;
}

.clientDemandsClass .button{
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius:5px;
    width: 110px;
    margin: auto;
    background-color: #527242;
    color: #fff;
}

.candidatesInfo{
    display: flex;
    text-align: center;
    width: 100%;
    margin: 20px 10px;
}

.button{
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius:5px;
    margin: auto;
    padding: 0 10px;
    background-color: #527242;
    color: #fff;
}

.bottomBar{
    height: 50px;
    width: 100%;
    background-color: #82bb68;
    position: fixed;
    bottom: 0;
}

button.create{
    width: 300px;
    margin:10px auto;
    background-color: #82bb68;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    display:block;
}

.form p

.form p label

.articlesInfo{
  display: block;
  width: 100%;
  height: 100px;
  font-size: 14px;
  color: #527242;
  margin: 0 auto;
}