<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farm</title>
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/syalert.min.css">
    <link rel="stylesheet" href="/static/css/farm.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_2519039_01p6o84lck5y.css">
</head>
<body>
    <div id="app">
        <header class="header">
            <a href="/" class="logo">CityFarm</a>
            <nav>
                <ul class="menu-items">
                    <li><a href="" class="menu-item">Mon panier</a></li>
                    <li><a href="/" class="menu-item">Acceuil</a></li>
                    <li><a href="" class="menu-item">Mon Compte</a></li>
                    <li><a href="" class="menu-item" onclick="logout()">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <section class="section">
            <div id="menu">
                <div id="open">
                    <div class="navBox">
                        <ul>
                            <li>
                                <h2 class="obtain">Produit<i></i></h2>
                                <div class="secondary">
                                    <h3 @click="getLegume();state=2">Légumes</h3>
                                    <h3 @click="getFruit();state=1">Fruits</h3>
                                    <h3 @click="getAutre();state=3">Autre</h3>
                                </div>
                            </li>
                            <li>
                                <h2 class="obtain">Contribution Carbonne<i></i></h2>
                                <div class="secondary">
                                    <h3 @click="getLowCarbon();state=4">Jusqu'à 20 g</h3>
                                    <h3 @click="getMoyCarbon();state=5">20 à 40 g</h3>
                                    <h3 @click="getHighCarbon();state=6">40g et plus</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="produits" v-show="state==0">
                <product v-for="item in products" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </div>

            <!--     fruit       -->
            <transition-group tag="div" class="produits" v-show="state==1">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>

            <!--     legume       -->
            <transition-group tag="div" class="produits" v-show="state==2">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>

            <!--     autre       -->
            <transition-group tag="div" class="produits" v-show="state==3">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>

            <!--     low       -->
            <transition-group tag="div" class="produits" v-show="state==4">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>

            <!--     moyenne       -->
            <transition-group tag="div" class="produits" v-show="state==5">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>

            <!--     high       -->
            <transition-group tag="div" class="produits" v-show="state==6">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item" @fatherreceiveproduct="saveProductSelected"></product>
            </transition-group>



            <!--      Modal for adding to cart      -->
            <div class="sy-alert sy-alert-model cart animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="alert" sy-mask="true" id="alert1">
                <div class="sy-title">{{productSelected.productName}}</div>
                <div class="sy-content main">
                    <div class="photoDetail">
                        <img :src="productSelected.url" alt="">
                    </div>
                    <div class="pricecalculate">
                        <div class="counter">
                            <span class="minus" @click="minusAmount">-</span>
                            <span class="display"> {{productAmount}} </span>
                            <span class="add" @click="addAmount">+</span>
                        </div>
                        <div class="priceTotal"><span>{{productTotalPrice}}</span>€</div>
                        <span class="notif">{{productNotification}}</span>
                    </div>
                </div>
                <div class="sy-btn">
                    <div class="button" onClick="syalert.syhide('alert1')" @click="saveToCart">Confirmez</div>
                </div>
            </div>

            <!--     Modal for the final reglage       -->
            <div class="sy-alert sy-alert-model reglage animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="alert" sy-mask="true" id="alert2">
                <div class="sy-title">Réglage</div>
                <div class="sy-content deliveryTime">
                    <span>Choisir ci-dessous le jour de la livrason.</span>
                    <div class="btn-group">
                        <input type="button" :class="['btn',deliveryTime.day == 'Monday'?'btn-selected':'']" value="Monday" @click="deliveryTime.day='Monday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Tuesday'?'btn-selected':'']" value="Tuesday" @click="deliveryTime.day='Tuesday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Wednesday'?'btn-selected':'']" value="Wednesday" @click="deliveryTime.day='Wednesday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Thursday'?'btn-selected':'']" value="Thursday" @click="deliveryTime.day='Thursday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Friday'?'btn-selected':'']" value="Friday" @click="deliveryTime.day='Friday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Saturday'?'btn-selected':'']" value="Saturday" @click="deliveryTime.day='Saturday'">
                        <input type="button" :class="['btn',deliveryTime.day == 'Sunday'?'btn-selected':'']" value="Sunday" @click="deliveryTime.day='Sunday'">
                    </div>
                    <span>Choisir ci-dessous le temps pour la livraison</span>
                    <div>
                        <input type="radio" id="morning1"
                               value="8-10" v-model="deliveryTime.time">
                        <label for="morning1">8:00~10:00</label>

                        <input type="radio" id="morning2"
                               value="10-12" v-model="deliveryTime.time">
                        <label for="morning2">10:00~12:00</label>

                        <input type="radio" id="afternoon1"
                               value="14-16" v-model="deliveryTime.time">
                        <label for="afternoon1">14:00~16:00</label>

                        <input type="radio" id="afternoon2"
                               value="16-18" v-model="deliveryTime.time">
                        <label for="afternoon2">16:00~18:00</label>
                    </div>
                </div>
                <div class="sy-content benevole">
                    <span>Est-ce que vous avez des envies pour faire du bénévolat?</span>
                    <div>
                        <input type="radio" id="acceptBenevole"
                               value="1" v-model="benevole.do">
                        <label for="acceptBenevole">Oui</label>

                        <input type="radio" id="refuseBenevole"
                               value="0" v-model="benevole.do">
                        <label for="refuseBenevole">Non</label>
                    </div>

                    <div v-show="benevole.do==1">
                        <span>Merci de votre contribution! Maintenant vous devez choisir au moins un temps pour réaliser le bénévole.</span>
                        <div class="benevoleOption" v-for="(item,index) in benevole.timelist">
                            <span>Choisir ci-dessous le jour de la livrason. Option {{index + 1}}</span>
                            <div class="btn-group">
                                <input type="button" :class="['btn',item.day == 'Monday'?'btn-selected':'']" value="Monday" @click="item.day='Monday'">
                                <input type="button" :class="['btn',item.day == 'Tuesday'?'btn-selected':'']" value="Tuesday" @click="item.day='Tuesday'">
                                <input type="button" :class="['btn',item.day == 'Wednesday'?'btn-selected':'']" value="Wednesday" @click="item.day='Wednesday'">
                                <input type="button" :class="['btn',item.day == 'Thursday'?'btn-selected':'']" value="Thursday" @click="item.day='Thursday'">
                                <input type="button" :class="['btn',item.day == 'Friday'?'btn-selected':'']" value="Friday" @click="item.day='Friday'">
                                <input type="button" :class="['btn',item.day == 'Saturday'?'btn-selected':'']" value="Saturday" @click="item.day='Saturday'">
                                <input type="button" :class="['btn',item.day == 'Sunday'?'btn-selected':'']" value="Sunday" @click="item.day='Sunday'">
                            </div>
                            <span>Choisir ci-dessous le temps pour la livraison</span>
                            <div>
                                <input type="radio" :id="'morning1b'+index"
                                       value="8-10" v-model="item.time">
                                <label :for="'morning1b'+index">8:00~10:00</label>

                                <input type="radio" :id="'morning2b'+index"
                                       value="10-12" v-model="item.time">
                                <label :for="'morning2b'+index">10:00~12:00</label>

                                <input type="radio" :id="'afternoon1b'+index"
                                       value="14-16" v-model="item.time">
                                <label :for="'afternoon1b'+index">14:00~16:00</label>

                                <input type="radio" :id="'afternoon2b'+index"
                                       value="16-18" v-model="item.time">
                                <label :for="'afternoon2b'+index">16:00~18:00</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="sy-btn">
                    <div class="button" onClick="syalert.syhide('alert2')" @click="upLoadCart">Confirm</div>
                </div>
            </div>

        </section>
        <div class="bottomBar">
        <button class="validate" onClick="syalert.syopen('alert2')">Valider le panier!</button>
        </div>
    </div>

    <template id="produitItem">
        <div class="product">
            <div class="produitItem">
                <div class="photo">
                    <img :src="productlist.url" alt="">
                </div>
                <div class="InfoPrincipal">
                    <div class="name"><span>{{productlist.productName}}</span></div>
                    <div class="price"><span>{{productlist.price}}</span>&nbsp;€</div>
                    <div class="quantity">Quantité disponible pour la semaine prochaine: <span>{{productlist.quantity}}</span> unité(s)</div>
                    <div class="category">Catégorie:&nbsp;<span>{{productlist.category}}</span></div>
                </div>
                <div class="InfoComparation">
                    <div>Comparé avec<i class="iconfont icon-bianzu"></i>&nbsp;:</div>
                    <div><i class="iconfont icon-bianzu"></i>&nbsp; prix: <span>{{productlist.carrefourPrice}}</span>€</div>
                    <div>Origin:&nbsp;<span>{{productlist.origin}}</span></div>
                    <div class="contribution">Si vous achetez nos produits, votre contribution sur la réduction de &nbsp;<i class="iconfont icon-eryanghuatan"></i>&nbsp;: <span class="contributionValue">{{productlist.carbonRedu}}</span>g</div>
                </div>
            </div>
            <div class="button" @click="transtofather" onClick="syalert.syopen('alert1')">
                Ajouter au panier
            </div>
        </div>
    </template>

    <script src="/static/lib/vue-2.5.9.js"></script>
    <script src="/static/lib/vue-router-v3.0.1.js"></script>
    <script src="/static/lib/jquery-1.12.4.min.js"></script>
    <script src="/static/lib/syalert.min.js"></script>
    <script src="/static/lib/axios-v0.17.1.js"></script>
    <script src="/static/js/sideBarFarm.js"></script>
    <script>
        function logout() {
            window.localStorage.userId = ""
            window.localStorage.userName = ""
            window.localStorage.userMobiile = ""
            window.localStorage.userType = ""
            window.localStorage.userPhotoUrl = ""
            window.localStorage.balance = ""
            window.localStorage.carbonTotal = ""
            window.localStorage.carbonActual = ""
            window.localStorage.volunteerTotal = ""
            window.localStorage.volunteerActual = ""
            window.location.href = '/login/'
        }
        if (window.localStorage.userId == "" || window.localStorage.userId == undefined || window.localStorage.userId == null){
                    window.location.href = "/login/"
        }
    </script>

    <script>
        Vue.component('product',{
            template:"#produitItem",
            props:['productlist'],
            methods:{
                transtofather(){
                    this.$emit('fatherreceiveproduct',this.productlist)
                }
            }
        })

        var vm = new Vue({
            el:'#app',
            data:{
                products:[
                    {idProduct:0, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:10, price:'3.99', url:'./img/1.jpg', category:'fruit', carbonRedu:6000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:1, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'fruit', carbonRedu:4000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:2, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'legume', carbonRedu:2000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:3, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'fruit', carbonRedu:2000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:4, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'autre', carbonRedu:4000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:5, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'fruit', carbonRedu:1000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:6, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'legume', carbonRedu:1000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:7, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'fruit', carbonRedu:3000, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                    {idProduct:8, productName:'Tomate:XXXXs ssds ds X / kilo',quantity:2500, price:'3.99', url:'./img/1.jpg', category:'autre', carbonRedu:2400, origin:'Barcelone, Spain', carrefourPrice:'4.99'},
                ],
                productsCondition:[],
                state:0,
                productSelected: {},
                productAmount:0,
                productNotification:'',
                productTotalPrice:"0.00",
                cart:[],
                deliveryTime:{day:'Monday',time:'10-12'},
                benevole:{
                    do:0,
                    timelist:[{day:'Monday',time:'8-10'},{day:'',time:''},{day:'',time:''}]
                },
                totalPrice:0
            },
            methods:    {
                getFruit(){
                    this.productsCondition = this.products.filter(product => product.category === 'fruit')
                },
                getLegume(){
                    this.productsCondition = this.products.filter(product => product.category === 'legume')
                },
                getAutre(){
                    this.productsCondition = this.products.filter(product => product.category === 'autre')
                },
                getLowCarbon(){
                    this.productsCondition = this.products.filter(product => product.carbonRedu <= 20)
                },
                getMoyCarbon(){
                    this.productsCondition = this.products.filter(product => (product.carbonRedu > 20 && product.carbonRedu < 40))
                },
                getHighCarbon(){
                    this.productsCondition = this.products.filter(product => product.carbonRedu >= 40)
                },
                saveProductSelected(arg){
                    this.productSelected = arg
                    this.productAmount = 0;
                    this.productNotification = '';
                    this.productTotalPrice = 0
                },
                addAmount(){
                    if(this.productAmount < this.productSelected.quantity){
                        this.productAmount++;
                        this.productTotalPrice = (this.productAmount * this.productSelected.price).toFixed(2)
                        this.productNotification = ''
                    }else{
                        this.productNotification = "It has already reached the max quantity."
                    }
                },
                minusAmount(){this.productTotalPrice
                    if(this.productAmount != 0){
                        this.productAmount--;
                        this.productTotalPrice = (this.productAmount * this.productSelected.price).toFixed(2)
                        this.productNotification = ''
                    }else{
                        this.productNotification = "You cannot reduce the amount you want to buy anymore"
                    }
                },
                saveToCart(){
                    if(this.productAmount>0){
                        var obj = {productName:this.productSelected.productName,amount:this.productAmount};
                        this.totalPrice += this.productAmount * this.productSelected.price
                        this.productAmount=0;
                        this.productNotification='';
                        this.cart.push(obj)
                    }
                },
                upLoadCart(){
                    this.benevole.timelist = this.benevole.timelist.filter(time=>time.day!='' && time.time!='')
                    var obj = {farmOwnerId:window.localStorage.farmownerid,userId:window.localStorage.userId,cart:this.cart,volunteer:this.benevole,deliveryTime:[this.deliveryTime],totalPrice:this.totalPrice}

                    //TODO: 发送post请求上传订单信息
                    axios.post('http://smart-env.eba-uspmif26.eu-central-1.elasticbeanstalk.com/farm/request', obj)
                    console.log(obj)

                    this.cart=[]
                    this.benevole={
                        do:0,
                        timelist:[{day:'Monday',time:'8-10'},{day:'',time:''},{day:'',time:''}]
                    }
                    this.deliveryTime = {day:'Monday',time:'10-12'}
                    this.totalPrice = 0
                }
            },
            created(){
                if (window.localStorage.userId == "" || window.localStorage.userId == undefined || window.localStorage.userId == null){
                    window.location.href = "/login/"
                }
                axios.get('http://smart-env.eba-uspmif26.eu-central-1.elasticbeanstalk.com/farm/getAllProducts?farmId='+window.localStorage.farmid)
                    .then(res=>{
                        this.products = res.data;
                    })
            }
        })
    </script>
</body>
</html>