<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/syalert.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/gestionAnnounce.css">
    <title>CityFarm</title>
</head>

<body>
    <div id="app">
        <header class="header">
        <a href="" class="logo">CityFarm</a>
        <nav>
            <ul class="menu-items">
                <li><a href="/" class="menu-item">Acceuil</a></li>
                <li><a href="/myAccount" class="menu-item">Mon Compte</a></li>
                <li><a href="/myAnnounce" class="menu-item">Mes Annonces</a></li>
                <li><a href="" class="menu-item" onclick="logout()">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <section class="section" >
        <div id="menu">
            <!--显示菜单-->
            <div id="open">
                <div class="navBox">
                    <ul>
                        <li>
                            <h2 class="obtain">Mes demandes<i></i></h2>
                            <div class="secondary">
                                <h3 @click="state=10">En cours</h3>
                                <h3 @click="state=11">Validé</h3>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">Mes offres fermières<i></i></h2>
                            <div class="secondary">
                                <h3 @click="state=20">En cours</h3>
                                <h3 @click="state=21">Validé</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="listsContent">
            <client-demand v-for="item in clientDemands" :key="item.demandId" :demand="item" v-show="state-state%10===10 && state%10===item.state"></client-demand>
            <farm-offer v-for="item in farmOffers" :key="item.offerId" :offer="item" v-show="state-state%10===20 && state%10===item.state"></farm-offer>
        </div>

        <button></button>

    </section>
        <div class="sy-alert sy-alert-model animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="alert" sy-mask="true" id="detail">
            <div class="sy-title">Candidat: {{ selectedCandidate.userName }}</div>
            <div class="sy-content">Description: <span class="longDescription">{{ selectedCandidate.userDescription }}</span></div>
            <div class="sy-content">Tel.: <span class="longDescription">{{ selectedCandidate.userTel }}</span></div>
            <div class="sy-btn">
                <div class="button" onClick="syalert.syhide('detail')" @click="assignCandidate(selectedCandidate.userId)">Valider ma commande</div>
            </div>
        </div>

    </div>

    <template id="clientCandidate" >
        <div  class="candidatesInfo">
            <h3>{{ candidate.userName }}: {{ candidate.userDescription }} </h3>
            <div class="button" onClick="syalert.syopen('detail')" @click="selectCandidate(candidate)">Détail</div>
        </div>
    </template>


    <template id="clientDemand">
        <div class="clientDemandsClass">
            <h2>Demande</h2>
            <div class="DemandContainer">
                <div class="infoLeftClient infoLeft">
                    <div >Date: <span>{{demand.dateString}}</span></div>
                    <div >Description: <span class="twoLineEllipsis">{{demand.description}}</span> </div>
                    <div v-show="demand.selectedperson">Livreur: <span >{{ str }}</span> </div>
                </div>
                <div class="photo">
                    <img src="" alt=""/>
                </div>

                <div class="etat encours" v-show="demand.state==0">En cours</div>
                <div class="etat valide" v-show="demand.state==1">Validé</div>
                <div class="etat valide" v-show="demand.state==2">Fini</div>
            </div>
            <hr>
            <div v-if="!demand.state">
                <h2>Candidats:</h2>
                <div>
                        <client-candidate v-for="item in demand.candidates" :key="item.id" :candidate="item"></client-candidate>
                </div>
            </div>
            <div class="map" v-else>
                MAP
            </div>
        </div>
    </template>

    <template id="farmArticle">
        <div class="DemandContainer">
            <div class="infoArticle">
                    <div>Nom: <span>{{article.name}}</span></div>
                    <div>Prix: <span>{{article.price}}</span></div>
            </div>
            <div class="infoArticle">
                <div>Quantité max: <span>{{article.quantityMax}}</span></div>
                <div>Quantité demandée: <span>{{article.quantityOrdered}}</span></div>
            </div>
        </div>
        <br/>
    </template>

    <template id="farmOffer">
        <div class="clientDemandsClass">
            <h2><span>{{offer.name}}</span></h2>
                <farm-article v-for="item in offer.articles" :key="item.articleId" :article="item"></farm-article>
            <div class="DemandContainer">
                <div class="infoArticle">Chiffres des ventes: <span>{{offer.sales}}</span></div>
                <div class="etat encours" v-show="offer.state==0">En cours</div>
                <div class="etat valide" v-show="offer.state==1">Validé</div>
                <div class="etat valide" v-show="offer.state==2">Achevé</div>
            </div>
            <div v-if="offer.state">
                <hr>
                MAP
            </div>
            <div class="button" v-show="offer.state==0">Valider</div>

        </div>
    </template>

    <script src="/static/lib/vue-2.5.9.js"></script>
    <script src="/static/lib/vue-router-v3.0.1.js"></script>
    <script src="/static/lib/jquery-1.12.4.min.js"></script>
    <script src="/static/lib/syalert.min.js"></script>
    <script src="/static/js/sideBar.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function logout() {
            window.localStorage.userId = ""
            window.localStorage.userName = ""
            window.localStorage.userMobiile = ""
            window.localStorage.userType = ""
            window.localStorage.userPhotoUrl = ""
            window.localStorage.balance = ""
            window.localStorage.carbonTotal = ""
            window.localStorage.carbonActual = ""
            window.localStorage.volunteerTotal = ""
            window.localStorage.volunteerActual = ""
            window.location.href = '/login/'
        }
        if (window.localStorage.userId == "" || window.localStorage.userId == undefined || window.localStorage.userId == null){
                    window.location.href = "/login/"
        }
    </script>
    <script>

        Vue.component('farm-article',{
            template:'#farmArticle',
            props:['article'],
        })

        Vue.component('farm-offer',{
            template:'#farmOffer',
            props:['offer'],
        })

        Vue.component('client-candidate',{
            template:'#clientCandidate',
            props:['candidate'],
            methods:{
                selectCandidate(user){
                    vm.selectedCandidate = user;
                },
            }
        })

        Vue.component('client-demand',{
            template:'#clientDemand',
            data:function (){
                var str = '';
                return {
                    str
                }
            },
            props:['demand'],
            methods:{
                getDeliverer(){
                    let str ='';
                    str = this.demand.selectedperson.userName + ': ' + this.demand.selectedperson.userTel;
                    return str;
                }
            },
            created(){
                this.str = this.getDeliverer();
            }
        })

        Vue.component('modal',{
            template:'#modal',
            methods:{
            },
            props:['user']
        })

        var vm = new Vue({
            el:"#app",
            data:{
                host: "http://smart-env.eba-uspmif26.eu-central-1.elasticbeanstalk.com",
                farmOffers:[
                    /*{offerId:0,
                        name:'Produits locaux',
                        state:0,
                        sales: 153,
                        articles:
                            [
                                {articleId:0, name: 'Carrots', price: 3.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:1, name: 'Pommes', price: 5.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:2, name: 'Oranges', price: 6.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:3, name: 'Patates', price: 1.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:4, name: 'Poivron', price: 4.45, quantityMax:50, quantityOrdered:30, state:0},
                            ]},*/
                ],
                clientDemands: [
                    /*{demandId:0, titre:'Transport des patates', date:'14/05/2021 8:00~12:00',route: 'From Lyon to Paris',state:0, description:"J'ai transporter à Paris", tel:"0623232325",
                        candidates:[{id:0, name:'user1', mobile:'123456789', selected:0 },{id:1, name:'user2', mobile:'123456789', selected:1}]},
                )*/],
                state:10,
                selectedCandidate:'not chosen',
            },
            methods:{
                assignCandidate(userId){
                    axios.put(this.host+'/publish/assignCandidate?orderId=0')
                },
            },
            created(){

                axios(this.host+'/publish/getUserOrderContent?ownerId=48')
                if (window.localStorage.userId == "" || window.localStorage.userId == undefined || window.localStorage.userId == null){
                    window.location.href = "/login/"
                }
                axios(this.host+'/publish/getUserOrderContent?ownerId=' + window.localStorage.userId)
                    .then((res)=>{
                        this.clientDemands = res.data;
                    })
                axios(this.host+'/publish/getFarmOrderContent?userId=100')
                    .then((res)=>{
                        this.farmOffers = res.data;
                    })
                console.log(this)
            }
        })
    </script>

</body>
</html>