<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/syalert.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/gestionAnnounce.css">
    <title>COLIV</title>
</head>

<body>
    <div id="app">
        <header class="header">
        <a href="" class="logo">COLIV</a>
        <nav>
            <ul class="menu-items">
                <li><a href="" class="menu-item">Acceuil</a></li>
                <li><a href="" class="menu-item">Mes Comptes</a></li>
                <li><a href="" class="menu-item">Mes Annonces</a></li>
                <li><a href="" class="menu-item">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <section class="section" >
        <div id="menu">
            <!--显示菜单-->
            <div id="open">
                <div class="navBox">
                    <ul>
                        <li>
                            <h2 class="obtain">Mes demandes<i></i></h2>
                            <div class="secondary">
                                <h3 @click="state=10">En cours</h3>
                                <h3 @click="state=11">Validé</h3>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">Mes offres fermières</h2>
                            <div class="secondary">
                                <h3 @click="state=20">En cours</h3>
                                <h3 @click="state=21">Validé</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="listsContent">
            <client-demand v-for="item in clientDemands" :key="item.demandId" :demand="item" v-show="state-state%10===10 && state%10===item.state"></client-demand>
            <farm-offer v-for="item in farmOffers" :key="item.offerId" :offer="item" v-show="state-state%10===20 && state%10===item.state"></farm-offer>
        </div>

        <button></button>
        <!--      Modal for creating new demand      -->

    </section>

    </div>

    <template id="clientCandidate">
        <h3>{{ candidate.name }} : {{ candidate.mobile }}</h3>
        <h3>222 : 111</h3>
    </template>

    <template id="clientDemand">
        <div class="clientDemandsClass">
            <h2>Titre: <span>{{demand.titre}}</span></h2>
            <div class="DemandContainer">
                <div class="infoLeftClient infoLeft">
                    <div >Date: <span>{{demand.date}}</span></div>
                    <div >Description: <span class="twoLineEllipsis">{{demand.description}}</span> </div>
                </div>
                <div class="photo">
                    <img src="" alt=""/>
                </div>

                <div class="etat encours" v-show="demand.state==0">En cours</div>
                <div class="etat valide" v-show="demand.state==1">Validé</div>
                <div class="etat valide" v-show="demand.state==2">Achevé</div>
            </div>
            <div class="candidatesInfo">
                    <client-candidate v-for="item in demand.candidates" :key="item.id" :candidate="item"></client-candidate>
            </div>
            <div class="button" v-show="demand.state==0">Valider</div>
        </div>
    </template>

    <template id="farmArticle">
        <div class="DemandContainer">
            <div class="infoArticleLeft">
                    <div>Nom: <span>{{article.name}}</span></div>
                    <div>Prix: <span>{{article.price}}</span></div>
            </div>
            <div class="infoArticleRight">
                <div>Quantité max: <span>{{article.quantityMax}}</span></div>
                <div>Quantité demandée: <span>{{article.quantityOrdered}}</span></div>
            </div>
        </div>
        <br/>
    </template>

    <template id="farmOffer">
        <div class="clientDemandsClass">
            <h2><span>{{offer.name}}</span></h2>
                <farm-article v-for="item in offer.articles" :key="item.articleId" :article="item"></farm-article>
            <div>Chiffres des ventes: <span>{{offer.sales}}</span></div>
            <div class="DemandContainer">
                <div class="etat encours" v-show="offer.state==0">En cours</div>
                <div class="etat valide" v-show="offer.state==1">Validé</div>
                <div class="etat valide" v-show="offer.state==2">Achevé</div>
            </div>
            <div class="button" v-show="offer.state==0">Valider</div>
        </div>
    </template>

    <script src="lib/vue-2.5.9.js"></script>
    <script src="lib/vue-router-v3.0.1.js"></script>
    <script src="lib/jquery-1.12.4.min.js"></script>
    <script src="lib/syalert.min.js"></script>
    <script src="js/sideBar.js"></script>

    <script>

        Vue.component('farm-article',{
            template:'#farmArticle',
            props:['article'],
        })

        Vue.component('farm-offer',{
            template:'#farmOffer',
            props:['offer'],
        })

        Vue.component('client-candidate',{
            template:'#clientCandidate',
            props:['candidate'],
        })

        Vue.component('client-demand',{
            template:'#clientDemand',
            methods:{
                getId(){
                    this.$emit("receivenewid",this.clientDemand.userId)
                }
            },
            props:['demand']
        })

        Vue.component('modal',{
            template:'#modal',
            methods:{
            },
            props:['user']
        })

        var vm = new Vue({
            el:"#app",
            data:{
                farmOffers:[
                    {offerId:0,
                        name:'Produits locaux',
                        state:0,
                        sales: 153,
                        articles:
                            [
                                {articleId:0, name: 'Carrots', price: 3.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:1, name: 'Pommes', price: 5.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:2, name: 'Oranges', price: 6.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:3, name: 'Patates', price: 1.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:4, name: 'Poivron', price: 4.45, quantityMax:50, quantityOrdered:30, state:0},
                            ]},

                    {offerId:1,
                        name:'ferme local',
                        state:1,
                        sales: 156,
                        articles:
                            [
                                {articleId:0, name: 'Carrots', price: 3.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:1, name: 'Pommes', price: 5.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:2, name: 'Oranges', price: 6.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:3, name: 'Patates', price: 1.45, quantityMax:50, quantityOrdered:30, state:0},
                                {articleId:4, name: 'Poivron', price: 4.45, quantityMax:50, quantityOrdered:30, state:0},
                            ]},
                ],
                clientDemands: [
                    {demandId:0, titre:'Transport des patates', date:'14/05/2021 8:00~12:00',route: 'From Lyon to Paris',state:0, description:"J'ai transporter à Paris", tel:"0623232325",
                        candidates:[{id:0, name:'user1', mobile:'123456789', selected:0 },{id:1, name:'user2', mobile:'123456789', selected:0}]},
                    {demandId:1, titre:'Transport des patates', date:'14/05/2021 8:00~12:00',route: 'From Lyon to Paris',state:1, description:"J'ai trois orteà Paris", tel:"0623232325",
                        candidates:[{id:0, name:'user1', mobile:'123456789', selected:1 },{id:1, name:'user2', mobile:'123456789', selected:0}]},
                    {demandId:2, titre:'Transport des patates', date:'14/05/2021 8:00~12:00',route: 'From Lyon to Paris',state:2, description:"J'ai nsporter à Paris", tel:"0623232325"},
                ],
                state:10,
                selectedCandidate:0,
            },
            methods:{
                getUserById(id){
                    return this.clientOrders.find(element => element.userId == id)
                },
                stockid(data){
                    this.selectedCandidate = data;
                }
            }
        })
    </script>

</body>
</html>