<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Farm</title>
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/syalert.min.css">
    <link rel="stylesheet" href="css/farm.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2519039_01p6o84lck5y.css">
</head>
<body>
    <div>
        <header class = "header">
            <a href="" class="logo">Logo</a>
            <nav>
                <ul class="menu-items">
                    <li><a href="" class="menu-items">PersonalCenter</a></li>
                    <li><a href="" class="menu-items">OnboardMessages</a></li>
                    <li><a href="" class="menu-items">LogOut</a></li>
                </ul>
            </nav>
        </header>

        <section class="section">
            <div id="menu">
                <div id="open">
                    <div class="navBox">
                        <ul>
                            <li>
                                <h2 class="obtain">My Client Command<i></i></h2>
                                <div class="secondary">
                                    <h3 @click="Statement();state=1">EnCours</h3>
                                    <h3 @click="StatementClient();state=2">EnLivraison</h3>
                                    <h3 @click="StatementClient();state=3">Achevé</h3>
                                </div>
                            </li>
                            <li>
                                <h2 class="obtain">My Farm Command<i></i></h2>
                                <div class="secondary">
                                    <h3 @click="Statement();state=4">EnCours</h3>
                                    <h3 @click="Statement();state=5">EnLivraison</h3>
                                    <h3 @click="Statement();state=6">Achevé<h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Offre" v-show="state==0">
                <product v-for="item in products" :key="item.idProduct" :productliste="item"></product>
            </div>
            <!-- Statements  -->
            <transition-group tag="div" class="produits" v-show="state==1">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item"></product>
            </transition-group>

            <transition-group tag="div" class="produits" v-show="state==2">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item"></product>
            </transition-group>

            <transition-group tag="div" class="produits" v-show="state==3">
                <product v-for="item in productsCondition" :key="item.idProduct" :productlist="item"></product>
            </transition-group>

        </section>
    </div>
</body>
</html>