<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

      #right-panel {
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select,
      #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }

      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 100%;
        float: left;
        width: 70%;
        height: 100%;
      }

      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }

      #directions-panel {
        margin-top: 10px;
        background-color: #ffee77;
        padding: 10px;
        overflow: scroll;
        height: 174px;
      }

            /* header */
        .header {
            height : 60px;
            font-family: Montserrat, sans-serif;
            line-height: 1.5;
            background: #527242;
            position: relative;
            width:100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            z-index: 1;
        }
        .header a {
            text-decoration: none;
            color: #ffffff;
        }
        .header ul {
            list-style: none;
        }
        .logo {
            font-size: 2rem;
        }
        .menu-items {
            display: flex;
            align-items: center;
        }
        .menu-items li {
            padding: 0.5rem 1rem;
            transition: background 0.3s ease-in-out;
        }
        .menu-items li:hover {
            background-color: #2a3827;
        }
    </style>
    <script type="text/javascript">


      $.ajax({
                type:'get',
                url:'http://localhost:5000/algo/map/?orderid='+{{orderid}},
                cache:false,
                dataType:'json',
                crossDomain: true,
                success:function(res){

                    let l = "<label>" + "Distance du trajet ordinaire : " + res["distanceNaive"] + " km" + "</label>"
                    let l2 = "<label>" + "Distance du trajet optimisé : " + res["distance"] + " km" + "</label>";
                    $("#distance").append(l);
                    $("#distance").append(l2);

                    if (parseInt(res["state"]) == 1 || parseInt(res["state"]) == 3)
                    {
                      $("#validatePanel").hide()
                    }

                    if (parseInt(res["state"]) == 3)
                    {

                    dataset = res["location"]
                    parking = res["parking"]

                    dataset.forEach(data => {
                        data.forEach(item => {
                          item["lat"] = parseFloat(item["lat"])
                          item["lng"] = parseFloat(item["lng"])
                        })
                    })
                    let stopovers = []
                    for (let i=0; i<res["waypoints"].length-1; ++i)
                    {
                          let item = res["waypoints"][i]
                          item["lat"] = parseFloat(item["lat"])
                          item["lng"] = parseFloat(item["lng"])
                          stopoverItem = {
                            location : {
                              "lat" : parseFloat(item["lat"]),
                              "lng" : parseFloat(item["lng"])
                            },
                            stopover : true
                          }
                          stopovers.push(stopoverItem)
                    }

                    const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 12,
                      center: { lat: 45.77495, lng: 4.84839 },
                    });
                    index = 0;

                    $("#btn").click(function(){
                        dataset[0].forEach(item => {
                            addMarker(item, "blue", map, "")
                        })
                        index = index + 1
                    })
                    $("#btnClear").click(function(){
                          location.reload()
                    })
                    
                    index = 0
                    var allPoints = dataset[1]
                    dataset[1].forEach(item => {
                      name = "Point Retrait " + index
                      index = index + 1
                      addMarker(item, "green", map, name)
                    })  
                    addMarker(parking, "yellow", map, "STOCKAGE")
                    res["waypoints"].forEach(item => {
                          addMarker(item, "red", map, "")
                    })
                    
                    res["depart"]["lat"] = parseFloat(res["depart"]["lat"])
                    res["depart"]["lng"] = parseFloat(res["depart"]["lng"])
                    let arrival = {
                      "lat" : parseFloat(res["waypoints"][res["waypoints"].length-1]["lat"]),
                      "lng" : parseFloat(res["waypoints"][res["waypoints"].length-1]["lng"])
                    }

                    addMarker(res["depart"], "red", map, "DEPART" + " ("+ res["deliveryDay"] +")")  

                    // directionsDisplay = new google.maps.DirectionsRenderer();

                    // var directionsService = new google.maps.DirectionsService();
                    // var request = {
                    //   origin: res["depart"],
                    //   destination: arrival,
                    //   waypoints: stopovers,
                    //   optimizeWaypoints: true,
                    //   travelMode: google.maps.TravelMode.DRIVING
                    // };

                    // directionsService.route(request, function(result, status) {
                    //   if (status == google.maps.DirectionsStatus.OK) {
                    //     directionsDisplay.setDirections(result);
                    //   }
                    // });
                    // directionsDisplay.setMap(map);

                    } else {
                    
                    dataset = res["location"]
                    labels = dataset[2]
                    parking = res["parking"]
                    dataset[2] = []
                    dataset[3] = [] 

                    dataset.forEach(data => {
                        data.forEach(item => {
                          item["lat"] = parseFloat(item["lat"])
                          item["lng"] = parseFloat(item["lng"])
                        })
                    })
                    let stopovers = []
                    res["waypoints"].forEach(item => {
                          item["lat"] = parseFloat(item["lat"])
                          item["lng"] = parseFloat(item["lng"])
                          stopoverItem = {
                            location : {
                              "lat" : parseFloat(item["lat"]),
                              "lng" : parseFloat(item["lng"])
                            },
                            stopover : true
                          }
                          stopovers.push(stopoverItem)

                    })

                    const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 12,
                      center: { lat: 45.77495, lng: 4.84839 },
                    });
                    index = 0;

                    $("#btn").click(function(){
                        dataset[0].forEach(item => {
                            addMarker(item, "blue", map, "")
                        })
                        index = index + 1
                    })
                    $("#btnClear").click(function(){
                          location.reload()
                    })
                    $("#validate").click(function(){
                      $.ajax({
                        type: "GET",
                        url: "http://localhost:5000/algo/validate?orderid="+{{orderid}},
                        success: function(){
                          location.reload()
                        }
                      });
                    })
                    
                    index = 0
                    var allPoints = dataset[1]
                    dataset[1].forEach(item => {
                      name = "Point Retrait " + index
                      index = index + 1
                      let o = new Option(name, "value");
                      $(o).html(name);
                      $(o).click(function(){
                          let checkboxArray = document.getElementById("waypoints");

                          for (let i = 0; i < checkboxArray.length; i++) {
                            if (checkboxArray.options[i].selected) {
                              addMarker(allPoints[i], "blue", map, "Point Retrait " + i)
                            } else {
                              addMarker(allPoints[i], "green", map, "Point Retrait " + i)
                            }
                          }
                        
                      })
                      $("#waypoints").append(o);
                      addMarker(item, "green", map, name)
                    })  
                    addMarker(parking, "yellow", map, "STOCKAGE")
                    res["waypoints"].forEach(item => {
                          addMarker(item, "red", map, "")
                    })
                    
                    res["depart"]["lat"] = parseFloat(res["depart"]["lat"])
                    res["depart"]["lng"] = parseFloat(res["depart"]["lng"])

                    addMarker(res["depart"], "red", map, "DEPART" + " ("+ res["deliveryDay"] +")")  

                    // directionsDisplay = new google.maps.DirectionsRenderer();

                    // var directionsService = new google.maps.DirectionsService();
                    // var request = {
                    //   origin: res["depart"],
                    //   destination: parking,
                    //   waypoints: stopovers,
                    //   optimizeWaypoints: true,
                    //   travelMode: google.maps.TravelMode.DRIVING
                    // };

                    // directionsService.route(request, function(result, status) {
                    //   if (status == google.maps.DirectionsStatus.OK) {
                    //     directionsDisplay.setDirections(result);
                    //   }
                    // });
                    // directionsDisplay.setMap(map);

                    console.log(res["volunteer"]) 

                    volunteers = res["volunteer"].split(";")

                    volunteers.forEach(item => {
                      if(item.length > 0){
                        let l = "<label>" + item.split("_")[0] + " will help us at Point Retrait " + item.split("_")[1]  + "</label>";
                         $("#aide").append(l);
                      }
                    })

                    


                    let waypts = [];

                    $("#submit").click(function(){
                      console.log("hello")
                      waypts = []
                      let checkboxArray = document.getElementById("waypoints");

                      for (let i = 0; i < checkboxArray.length; i++) {
                        if (checkboxArray.options[i].selected) {
                          waypts.push(allPoints[i])
                          addMarker(allPoints[i], "blue", map, "Point Retrait " + i)
                        }
                      }

                      $.ajax({
                        type: "POST",
                        url: "http://localhost:5000/algo/updatePath",
                        data: {
                          "id" : res["id"],
                          "points" : waypts
                        },
                        success: function(){
                          location.reload()
                        }
                      });
                    });

                    $("#tsp").click(function(){
                      console.log("hello")

                      $.ajax({
                        type: "GET",
                        url: "http://localhost:5000/algo/test?orderid=" + {{orderid}},
                        success: function(){
                          location.reload()
                        }
                      });
                    });
                  }

                                   
                }
            });

      function addMarker(latLng, color, map, label) {
        let url = "http://maps.google.com/mapfiles/ms/icons/";
        url += color + "-dot.png";

        if(label===""){
          let marker = new google.maps.Marker({
            map: map,
            position: latLng,
            icon: {
              url: url,
              labelOrigin: new google.maps.Point(15, -13),
              size: new google.maps.Size(32,32),
              anchor: new google.maps.Point(16,32)
            },    
          });
        } else{
          let marker = new google.maps.Marker({
            map: map,
            position: latLng,
            icon: {
              url: url,
              labelOrigin: new google.maps.Point(15, -13),
              size: new google.maps.Size(32,32),
              anchor: new google.maps.Point(16,32)
            },
            label: {
              text: label.toString(),
              color: 'black',
              fontSize: "12px",
              fontWeight: "bold"
            }

            
          });
        }

        
      }

     

    </script>
  </head>
  <body>
    <header class="header">
            <a href="/" class="logo">CityFarm</a>
            <nav>
                <ul class="menu-items">
                    <li><a href="/" class="menu-item">Acceuil</a></li>
                    <li><a href="/myAccount" class="menu-item">Mon Compte</a></li>
                    <li><a href="/myAnnounce" class="menu-item">Mes Annonces</a></li>
                    <li><a href="" class="menu-item" onclick="logout()">Log Out</a></li>
                </ul>
            </nav>
    </header>
    <div id="map"></div>
    <div id="right-panel">
      <div id="validatePanel" style="width: 100%">
          <b>Arrêt:</b> <br />
          <i>(Ctrl+Clic ou Cmd+Clic pour sélection multiples)</i> <br />
          <select multiple id="waypoints">
          </select>
          <br />
        <div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;width: 100%; margin-top: 20px">
          <input type="submit" value="Confrim" id="submit" class="btn btn-primary" />
          <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;width: 100%;margin-top: 20px">
            <button id = "tsp" class="btn btn-success"> Auto</button>
            <button id = "validate" class="btn btn-success">Valider</button>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;margin-top: 20px">
            <button id = "btn" class="btn btn-info"> Détail</button>
            <button id = "btnClear" class="btn btn-info"> Nettoyer</button>
      </div>
      <div id="aide" style="display: flex; flex-direction: column; justify-content: space-around; align-items:flex-start; ;margin-top: 60px">
        </div>
      <div id="distance" style="margin-top: 20px">
          
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>